.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  width: 80%;
  height: 10%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 80%;
  height: 80%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  width: 80%;
  height: 10%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  width: 80%;
  height: 10%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  width: 80%;
  height: 10%;
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.history {
  background-color: lightgray;
  display: flex;
  width: 80%;
  height: 50%;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  align-content: flex-start;
}

.historyItem {
  background-color: lightgray;
  display: flex;
  width: 15%;
  height: 20%;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 20px 5px;
}

.ranking {
  background-color: lime;
  margin-top: 20px;
  width: 80%;
}

.ranking-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
